// ---------------------
// Variables
// ---------------------
$maincolor: rgb(41, 41, 39);
$contrastcolor: rgb(240, 234, 222);

// ---------------------
// Mixins
// ---------------------

@mixin light-text-dark-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin dark-text-light-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

nav {
  @include light-text-dark-bg;
  display: flex;
  justify-content: center;
  border: 5px solid rgb(216, 56, 34);
  margin: 20px;

  a {
    @include light-text-dark-bg();

    div {
      margin: 20px;
      font-size: 2.5em;
    }
  }
}

body {
  background-color: beige;
  text-align: center;
}
