@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Indie+Flower&family=Numans&display=swap");
// ---------------------
// Variables
// ---------------------
* {
  margin: 0;
}

$maincolor: rgb(71, 76, 79);
$contrastcolor: rgb(247, 246, 244);

// ---------------------
// Mixins
// ---------------------

@mixin light-text-dark-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin dark-text-light-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

nav {
  @include light-text-dark-bg;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 90%;
  margin: auto;
  font-size: 1.2em;

  a {
    @include light-text-dark-bg();

    div {
      margin: 20px;
      font-size: 2.5em;
    }
  }
}

body {
  background-color: rgb(247, 246, 244);
  text-align: center;
  font-family: "Numans", sans-serif;
  color: rgb(71, 76, 79);
}
.logo {
  font-family: "Grechen Fuemen", cursive;
  font-size: 7em;
  margin: 40px;
  color: rgb(71, 76, 79);
  text-shadow: 5px 2px rgb(132, 148, 147);
}
.slogan {
  font-family: "Indie Flower", cursive;
  font-size: 1.6em;
  margin: 40px;
  color: rgb(71, 76, 79);
}
.loading {
  font-family: "Indie Flower", cursive;
  font-size: 3em;
  margin: 60px;
  color: rgb(71, 76, 79);
}
