@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Indie+Flower&family=Numans&display=swap");
// ---------------------
// Variables
// ---------------------
* {
  margin: 0;
}

$maincolor: rgb(247, 246, 244);
$contrastcolor: rgb(71, 76, 79);
// ---------------------
// Mixins
// ---------------------
@mixin light-text-dark-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin dark-text-light-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

nav {
  @include light-text-dark-bg;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 90%;
  margin: auto;
  font-size: 1.2em;

  a {
    @include light-text-dark-bg();
    text-decoration: none;

    div {
      margin: 20px;
      font-size: 2.5em;
    }
  }
}

body {
  background-color: rgb(247, 246, 244);
  text-align: center;
  font-family: "Numans", sans-serif;
  color: rgb(71, 76, 79);
}
.logo {
  font-family: "Grechen Fuemen", cursive;
  font-size: 7em;
  margin: 30px;
  color: rgb(71, 76, 79);
  text-shadow: 4px 2px rgb(240, 102, 102);
}
.slogan {
  font-family: "Indie Flower", cursive;
  font-size: 1.4em;
  margin: 20px;
  color: rgb(71, 76, 79);
}
.loading {
  font-family: "Indie Flower", cursive;
  font-size: 3em;
  margin: 60px;
  color: rgb(71, 76, 79);
}
.bookmark {
  background-color: rgba(240, 102, 102, 0.2);
  margin: 10px 250px 10px 250px;
  padding: 15px;
  border: 2px solid rgb(240, 102, 102);
  border-radius: 5px;
}
h2 {
  font-size: 1.8em;
  margin: 20px;
}
h3 {
  font-size: 1.3em;
}
.btn-danger {
  margin: 20px;
}

input {
  margin: 30px 1px;
}

.site > h2 {
  margin: 20px;
}
